<template name="export_craft">
	{{title name}}
	<h2 class="lead row">
		<span class="col-sm-8">{{name}}</span>
		<span class="col-sm-4" style="text-align: right">
			<a class="btn btn-info disabled" href="/export_craft/{{_id}}">Aвто-Экспорт</a>
			<a class="btn btn-info" href="/edit_craft/{{_id}}">Редактировать</a>
		</span>
	</h2>
	<hr>
<textarea class="form-control" rows="20">



<ac:layout>
  <ac:layout-section ac:type="two_right_sidebar">
    <ac:layout-cell>
			<ac:macro ac:name="html">
        <ac:plain-text-body>
        	<![CDATA[<style type="text/css">
						h2 { color: black !important; }
			    </style>]]>
    		</ac:plain-text-body>
      </ac:macro>    
    
      <ac:macro ac:name="info">
        <ac:parameter ac:name="icon">false</ac:parameter>
        <ac:rich-text-body>
          <p>{{summary}}</p>
          <ac:macro ac:name="info">
            <ac:parameter ac:name="icon">false</ac:parameter>
            <ac:rich-text-body>
              <p>
                <ac:emoticon ac:name="information"/> <ac:macro ac:name="status">
                  <ac:parameter ac:name="colour">Blue</ac:parameter>
                  <ac:parameter ac:name="title">Содержание</ac:parameter>
                </ac:macro>
              </p>
              <p>
                <ac:macro ac:name="toc">
                  <ac:parameter ac:name="printable">false</ac:parameter>
                  <ac:parameter ac:name="style">none</ac:parameter>
                  <ac:parameter ac:name="indent">15px</ac:parameter>
                  <ac:parameter ac:name="minLevel">2</ac:parameter>
                  <ac:parameter ac:name="exclude">Содержание</ac:parameter>
                </ac:macro>
              </p>
            </ac:rich-text-body>
          </ac:macro>
          <h2>
            Конструкция
          </h2>
          <ac:macro ac:name="info">
            <ac:parameter ac:name="icon">false</ac:parameter>
            <ac:rich-text-body>
              {{list_formated construction}}
            </ac:rich-text-body>
          </ac:macro>
          <h2>Вооружение</h2>
          <ac:macro ac:name="info">
            <ac:parameter ac:name="icon">false</ac:parameter>
            <ac:rich-text-body>
              <ul>
							{{#each ammo}}
								<li>{{ammo_type}}: {{ammo}}
									{{ammo_info}}
								</li>
							{{/each}}
							</ul>
            </ac:rich-text-body>
          </ac:macro>
          <h2>Модули</h2>
          <ac:macro ac:name="info">
            <ac:parameter ac:name="icon">false</ac:parameter>
            <ac:rich-text-body>
              <h3>Лётные характеристики</h3>
							<p>... ... </p>
            </ac:rich-text-body>
          </ac:macro>
          <ac:macro ac:name="tip">
            <ac:rich-text-body>
              <h2>Плюсы машины в игре</h2>
              {{list_formated pluses}}
            </ac:rich-text-body>
          </ac:macro>
          <ac:macro ac:name="warning">
            <ac:rich-text-body>
              <h2>Минусы машины в игре</h2>
              {{list_formated minuses}}
            </ac:rich-text-body>
          </ac:macro>
          <ac:macro ac:name="panel">
            <ac:parameter ac:name="borderColor">#1560bd</ac:parameter>
            <ac:parameter ac:name="titleColor">#007ba7</ac:parameter>
            <ac:rich-text-body>
              <h2>Историческая справка</h2>
              {{info}}
            </ac:rich-text-body>
          </ac:macro>
        </ac:rich-text-body>
      </ac:macro>
      <ac:macro ac:name="panel">
        <ac:parameter ac:name="borderStyle">dashed</ac:parameter>
        <ac:parameter ac:name="borderColor">Green</ac:parameter>
        <ac:rich-text-body>
          <h2>Галерея</h2>
          <p>
            <ac:macro ac:name="gallery">
              <ac:parameter ac:name="include">i16_type18_vs_He112B0_1920x1080_logo.jpg, shot 2013.11.27 21.30.12.jpg</ac:parameter>
            </ac:macro>
          </p>
        </ac:rich-text-body>
      </ac:macro>
      <ac:macro ac:name="tip">
        <ac:rich-text-body>
          <p>
            <ac:macro ac:name="status">
              <ac:parameter ac:name="colour">Green</ac:parameter>
              <ac:parameter ac:name="title">СМОТРИТЕ ТАКЖЕ</ac:parameter>
            </ac:macro>
          </p>
          <p>
            <span style="color: rgb(0,51,102);"> <ac:link>
                <ri:page ri:content-title="И-15"/>
                <ac:plain-text-link-body><![CDATA[И-15/бис]]></ac:plain-text-link-body>
              </ac:link> </span>
          </p>
        </ac:rich-text-body>
      </ac:macro>
      <ac:macro ac:name="info">
        <ac:rich-text-body>
          <p>
            <ac:macro ac:name="status">
              <ac:parameter ac:name="colour">Blue</ac:parameter>
              <ac:parameter ac:name="title">Дополнительные материалы</ac:parameter>
            </ac:macro>
          </p>
          <p>
            <a href="http://ru.wikipedia.org/wiki/%D0%98-16">И-16 - Wikipedia</a>
          </p>
          <p>
            <a href="http://www.airwar.ru/enc/fww2/i16.html">И-16 - Уголок неба</a>
          </p>
          <p>
            <a href="http://forum.warthunder.ru/index.php?/topic/67413-i-16-tip-18-ishak/">И-16 Тип 18 "Ишак" - обсуждение на Форуме War Thunder</a>
          </p>
        </ac:rich-text-body>
      </ac:macro>
    </ac:layout-cell>
    <ac:layout-cell>
      <p>
        <ac:image ac:queryparams="effects=border-simple,shadow-kn">
          <ri:attachment ri:filename="shot 2013.12.09 15.54.18.jpg"/>
        </ac:image>
      </p>
      <ac:macro ac:name="info">
        <ac:rich-text-body>
          <p>
            <ac:macro ac:name="status">
              <ac:parameter ac:name="colour">Yellow</ac:parameter>
              <ac:parameter ac:name="title">ИГРОВАЯ ИНФОРМАЦИЯ</ac:parameter>
            </ac:macro>
          </p>
          <table style="line-height: 1.4285715;">
            <tbody>
              <tr>
                <td class="highlight-yellow" colspan="1" data-highlight-colour="yellow">
                  <p>
                    <span style="color: rgb(0,51,102);">Нация</span>
                  </p>
                </td>
                <td class="highlight-yellow" colspan="1" data-highlight-colour="yellow">
                  <p>
                    <span style="color: rgb(153,51,0);">СССР</span>
                  </p>
                </td>
              </tr>
              <tr>
                <td class="highlight-yellow" colspan="1" data-highlight-colour="yellow">
                  <span style="color: rgb(0,51,102);">Ранг</span>
                </td>
                <td class="highlight-yellow" colspan="1" data-highlight-colour="yellow">
                  <span style="color: rgb(153,51,0);">2</span>
                </td>
              </tr>
              <tr>
                <td class="highlight-yellow" colspan="1" data-highlight-colour="yellow">
                  <span style="color: rgb(0,51,102);">Бонус к награде</span>
                </td>
                <td class="highlight-yellow" colspan="1" data-highlight-colour="yellow">
                  <span style="color: rgb(153,51,0);">+20%</span>
                </td>
              </tr>
              <tr>
                <td>
                  <span style="color: rgb(105,105,105);">Боезапас (шт.)</span>
                </td>
                <td>
                  <span style="color: rgb(139,69,19);">2600</span>
                </td>
              </tr>
              <tr>
                <td>
                  <span style="color: rgb(105,105,105);">Длина разбега (</span> <span style="color: rgb(105,105,105);">м</span> <span style="color: rgb(105,105,105);">)</span>
                </td>
                <td>
                  <span style="color: rgb(139,69,19);">210</span>
                </td>
              </tr>
              <tr>
                <td>
                  <span style="color: rgb(105,105,105);">Скороподъемность (м/с)</span>
                </td>
                <td>
                  <span style="color: rgb(139,69,19);">27</span>
                </td>
              </tr>
              <tr>
                <td colspan="1">
                  <span style="color: rgb(105,105,105);">Время виража</span> <span style="color: rgb(105,105,105);"> (сек)</span>
                </td>
                <td colspan="1">
                  <span style="color: rgb(139,69,19);">15,4</span>
                </td>
              </tr>
              <tr>
                <td colspan="1">
                  <span style="color: rgb(105,105,105);">Максимальная высота</span> <span style="color: rgb(105,105,105);"> (м)</span>
                </td>
                <td colspan="1">
                  <span style="color: rgb(139,69,19);">9300</span>
                </td>
              </tr>
              <tr>
                <td colspan="1">
                  <span style="color: rgb(105,105,105);">Максимальная скорость (км/ч</span> <span style="color: rgb(105,105,105);">) </span>
                </td>
                <td colspan="1">
                  <span style="color: rgb(139,69,19);">488</span>
                </td>
              </tr>
              <tr>
                <td colspan="1">
                  <span style="color: rgb(105,105,105);">Комплектов вооружения (шт.)</span>
                </td>
                <td colspan="1">
                  <span style="color: rgb(153,51,0);">4</span>
                </td>
              </tr>
              <tr>
                <td colspan="1">
                  <span style="color: rgb(105,105,105);">Вес секундного залпа (кг/сек)</span>
                </td>
                <td colspan="1">
                  <span style="color: rgb(139,69,19);">1,16</span>
                </td>
              </tr>
              <tr>
                <td class="highlight-yellow" colspan="1" data-highlight-colour="yellow">
                  <span style="color: rgb(0,51,102);">Время бесплатного ремонта, мин</span>
                </td>
                <td class="highlight-yellow" colspan="1" data-highlight-colour="yellow">
                  <span style="color: rgb(153,51,0);">19</span>
                </td>
              </tr>
              <tr>
                <td class="highlight-yellow" colspan="1" data-highlight-colour="yellow">
                  <span style="color: rgb(0,51,102);">Максимальная цена ремонта (сер.) </span>
                </td>
                <td class="highlight-yellow" colspan="1" data-highlight-colour="yellow">
                  <span style="color: rgb(153,51,0);">417</span>
                </td>
              </tr>
              <tr>
                <td class="highlight-yellow" colspan="1" data-highlight-colour="yellow">
                  <span style="color: rgb(0,51,102);">Цена обучения команды (сер.)</span>
                </td>
                <td class="highlight-yellow" colspan="1" data-highlight-colour="yellow">
                  <span style="color: rgb(153,51,0);">600</span>
                </td>
              </tr>
            </tbody>
          </table>
        </ac:rich-text-body>
      </ac:macro>
      <ac:macro ac:name="info">
        <ac:rich-text-body>
          <p>
            <ac:macro ac:name="status">
              <ac:parameter ac:name="colour">Blue</ac:parameter>
              <ac:parameter ac:name="title">ПАСПОРТНЫЕ ЛТХ</ac:parameter>
            </ac:macro>
          </p>
          <table style="line-height: 1.4285715;">
            <tbody>
              <tr>
                <th>
                  <span style="color: rgb(0,51,102);"> <em>Двигатель</em> </span>
                </th>
                <th> </th>
              </tr>
              <tr>
                <td>
                  <strong> <span style="color: rgb(40,40,40);">Наименование</span> </strong>
                </td>
                <td>M-62</td>
              </tr>
              <tr>
                <td>
                  <strong> <span style="color: rgb(40,40,40);">Количество цилиндров</span> </strong>
                </td>
                <td>9</td>
              </tr>
              <tr>
                <td>
                  <strong> <span style="color: rgb(40,40,40);">Турбонаддув</span> </strong>
                </td>
                <td>
                  <span style="color: rgb(40,40,40);">2 </span> <span style="color: rgb(40,40,40);">скоростной</span>
                </td>
              </tr>
              <tr>
                <td>
                  <strong> <span style="color: rgb(40,40,40);">Сухой вес</span> </strong>
                </td>
                <td>520 кг</td>
              </tr>
              <tr>
                <td>
                  <p>
                    <strong> <span style="color: rgb(40,40,40);">Мощность </span> <span style="color: rgb(40,40,40);">Взлетная</span> </strong>
                  </p>
                </td>
                <td>
                  <p>
                    <span style="color: rgb(40,40,40);">1000 </span> <span style="color: rgb(40,40,40);">Л.С.</span>
                  </p>
                </td>
              </tr>
              <tr>
                <th colspan="1">
                  <span style="color: rgb(0,51,102);"> <em>Винт</em> </span>
                </th>
                <th colspan="1"> </th>
              </tr>
              <tr>
                <td colspan="1">
                  <strong> <span style="color: rgb(40,40,40);">Наименование</span> <span style="color: rgb(40,40,40);"> </span> </strong>
                </td>
                <td colspan="1">АВ-1</td>
              </tr>
              <tr>
                <td colspan="1">
                  <strong> <span style="color: rgb(40,40,40);">Диаметр</span> </strong>
                </td>
                <td colspan="1">2,8 <span style="color: rgb(40,40,40);">м</span>
                </td>
              </tr>
              <tr>
                <td colspan="1">
                  <strong> <span style="color: rgb(40,40,40);">Количество лопастей</span> </strong>
                </td>
                <td colspan="1">2</td>
              </tr>
              <tr>
                <td colspan="1">
                  <strong> <span style="color: rgb(40,40,40);">Максимальная ширина лопасти</span> </strong>
                </td>
                <td colspan="1">0,250 м</td>
              </tr>
              <tr>
                <td colspan="1">
                  <strong> <span style="color: rgb(40,40,40);">Вес</span> </strong>
                </td>
                <td colspan="1">73 кг</td>
              </tr>
              <tr>
                <th colspan="1">
                  <em> <span style="color: rgb(0,51,102);">Основные Геометрические и регулировочные данные</span> </em>
                </th>
                <th colspan="1"> </th>
              </tr>
              <tr>
                <td colspan="1">
                  <strong> <span style="color: rgb(40,40,40);">Размах крыла</span> </strong>
                </td>
                <td colspan="1">9,00 м</td>
              </tr>
              <tr>
                <td colspan="1">
                  <strong> <span style="color: rgb(40,40,40);">Длина</span> </strong>
                </td>
                <td colspan="1">6.07 м</td>
              </tr>
              <tr>
                <td colspan="1">
                  <strong> <span style="color: rgb(40,40,40);">Высота</span> </strong>
                </td>
                <td colspan="1">3.25 м</td>
              </tr>
              <tr>
                <td colspan="1">
                  <strong> <span style="color: rgb(40,40,40);">Площадь крыла с элеронами</span> </strong>
                </td>
                <td colspan="1">14,54<span style="color: rgb(40,40,40);"> </span>м²</td>
              </tr>
              <tr>
                <td colspan="1">
                  <strong> <span style="color: rgb(40,40,40);">Вес</span> </strong>
                </td>
                <td colspan="1">
                  <span style="color: rgb(40,40,40);">1433</span> кг</td>
              </tr>
              <tr>
                <td colspan="1">
                  <strong> <span style="color: rgb(40,40,40);">Взлетный вес</span> </strong>
                </td>
                <td colspan="1">
                  <span style="color: rgb(40,40,40);">1830</span> <span style="color: rgb(40,40,40);"> </span>кг</td>
              </tr>
              <tr>
                <th colspan="1">
                  <em> <strong> <span style="color: rgb(0,51,102);">Показатели максимальных скоростей</span> </strong> </em>
                </th>
                <th colspan="1"> </th>
              </tr>
              <tr>
                <td colspan="1">
                  <strong> <span style="color: rgb(40,40,40);">0 м</span> </strong>
                </td>
                <td colspan="1">
                  <span style="color: rgb(40,40,40);">413 км/ч</span>
                </td>
              </tr>
              <tr>
                <td colspan="1">
                  <strong> <span style="color: rgb(40,40,40);">4400 м</span> </strong>
                </td>
                <td colspan="1">
                  <span style="color: rgb(40,40,40);">461 км/ч</span>
                </td>
              </tr>
              <tr>
                <th colspan="1">
                  <span style="color: rgb(0,51,102);"> <em>Показатели скороподъемности</em> </span>
                </th>
                <th colspan="1"> </th>
              </tr>
              <tr>
                <td colspan="1">
                  <strong> <span style="color: rgb(40,40,40);">3000 м</span> </strong>
                </td>
                <td colspan="1">
                  <span style="color: rgb(40,40,40);"> 2,9 мин</span>
                </td>
              </tr>
              <tr>
                <td colspan="1">
                  <strong> <span style="color: rgb(40,40,40);">5000 м</span> </strong>
                </td>
                <td colspan="1">
                  <span style="color: rgb(40,40,40);"> 5,4 мин</span>
                </td>
              </tr>
            </tbody>
          </table>
        </ac:rich-text-body>
      </ac:macro>
    </ac:layout-cell>
  </ac:layout-section>
</ac:layout>
<ac:layout>
  <ac:layout-section ac:type="two_right_sidebar">
    <ac:layout-cell>
      <p> </p>
    </ac:layout-cell>
    <ac:layout-cell>
      <p> </p>
    </ac:layout-cell>
  </ac:layout-section>
</ac:layout>

</textarea>
</template>
